{% extends "structure.html" %}
{% block main %}
<body >
    <h1>About Us</h1>
    <h2>I want to be Full Stack Developer</h2>
    <p class="about">Hello there, I have been doing Python for 3 years. I can spend hours in writing Python code and still willing to code more.</br>
        Throughout the years i have mastered in lots of Python technologies such as: Django, Flask, Numpy, Pandas, WxPython</br>
        and Java such as Java GUI, Java Web. I have been working with several clients in the past and they love my work.</br>
        So i will be valuable assets to your company. I am a goal oriented person and love to work in a new environment. </br>
        Love it so much. I am fluent in English both spoken and writing. Can't wait to work with you</br>
    </p>
    <img src="../static/img/profile.png" alt="Profile Picture">
</body>
{% endblock main %}