<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="webjars/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
    <title>Title</title>
</head>
<body style="background-color:#f5f1da">
<div class="container">
    <div class="jumbotron text-center" style="background-color:#e3dfc8">
        <h1 class="text-center">Welcome to Inventory Manager</h1>
    </div>
</div>
<div class="container">
<a class="btn btn-success" th:href="@{/tambah}">Tambah Data</a>
<div class="card">
    <div class="card-block">
<table class="table table-hover">
    <thead>
    <tr style="text-align:center">
        <th>Id</th>
        <th>Name</th>
        <th>Stock</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align:center" th:each="inventory :${data}">
        <td th:text="${inventory.id}"></td>
        <td th:text="${inventory.name}"></td>
        <td th:text="${inventory.stock}"></td>
        <td>
            <a class="btn btn-danger" th:href="@{delete/(id=${inventory.id})}">Delete</a>
            <a class="btn btn-info" th:href="@{findInventory/(id=${inventory.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
    </div>
</div>
</div>
</body>
</html>